@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    font-family: 'Lato', sans-serif;
    }