header {
    background-color: #404040;
    height:20px;
    padding:0.2%;
    padding-bottom:20px;
    margin:0px;
    font-size:20px;
    text-align:center;
    color: #ffffff;
    display: none;
}

